.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}
.card{
  width: 300px;
  background: rgb(84,87,86);
background: linear-gradient(22deg, rgba(84,87,86,1) 0%, rgba(221,221,221,1) 49%, rgba(245,245,245,1) 100%);
}
.card .card-image .card-title{
  color: white;
  font-weight: 800
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #2b1f9b;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}
.center{
  font-family:cursive;
  font-weight: 800;
  color: black;
}
.brand-logo{
  font-weight: 800;
}